{% extends "home/home_view.html" %}
{% block body %}
  <h2>Iniciar Sesion</h2>
  <form method="post" id="login-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Ingresar</button>
    <button type="button" id="login-admin-button">Ingresar al Portal de Administrador</button>
  </form>
  
  <script>
    document.getElementById('login-admin-button').addEventListener('click', function() {
      document.getElementById('login-form').action = "{% url 'admin:index' %}";
      document.getElementById('login-form').submit();
    });
  </script>
{% endblock %}
